/* common classes */
.biglink {
    font-size: 24px;
}
.content{
    margin-top: 20px;
}

#chartdiv {
	width		: 600px;
	height		: 500px;
	font-size	: 11px;
}
.inacvtive{
    color:#ccc;
    font-size: 13px;
}
/* Dashboard */
.profile{
    padding: 5px;
    border-radius: 5px;
    background:#F8F8F8;
    color:#000;
}
.name{
    font-weight: bold;
    font-size:25px;
}
.bill_numb{
    font-style: italic;
    font-size: 13px
}
.bill{
    font-size: 28px;
    font-weight: bold;
}
.bill.positive{
    color:#35B353;
}
.bill.positive::before{
    content:'+';
}
.bill.negative{
    color:#D62D2D;
}
.bill.negative::before{
    content:'-';
}
.bill .date{
    font-style: italic;
}
.note .date {
    color:#A5A5A5;
}
.week{
    width: 100%;
    margin:0;
    padding:0;
    list-style: none;
}
.week > li {
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    border:1px solid #ccc;
}
.week > li > .dayofweek {
    padding:4px;
}
.week > li > .day {
    border-top:1px solid #ccc;
    padding:4px;
}
.week > li.nowater > .day{
    background: #A7C6F5;
}
.week > li.nolight > .day{
    background: #FCE292;
}
.week > li.nowater.nolight > .dayofweek{
    background: #A7C6F5;
}
.week > li.nowater.nolight > .day{
    background: #FCE292;
}
.week a{
    color:;
}
.weekend .dayofweek{
    color:#E92B2B;
}
.demo{
    padding: 3px;
    border:1px solid #ccc;
    border-radius: 3px;
}
.demo.light{
    background: #FCE292;
}
.demo.water{
    background: #A7C6F5;
}