<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Пятьсот</title>
    <style type="text/css">
    body{background:#f7f4f4; font-family: helvetica;overflow:hidden;margin: 0; padding:0;}
    .errline {background:#000;width:100%;}
    .errline > h1 {color:#fff;text-align:center;margin:0; font-size:60px;}
    .descline{text-align:center;}
    </style>
</head>
<body>
<div class="errline">
    <h1>500 :C</h1>
</div>
<div class="descline">
    <p>Что-то пошло не так. Попробуйте связаться со мной по адрессу: 500@daniil-r.ru</p>
</div>
</body>
</html>