{% extends "base.html" %}
{% block content %}
  <div class="presentation">
    <h1>House Management</h1>
    <div>Попробуйте сейчас:</div>
    <form class="form-inline" role="form" method="POST" action="{% url "auth" %}">
        {% csrf_token %}
        <div class="form-group">
            <label class="sr-only" for="login">Ваш логин</label>
            <input type="login" name="username" class="form-control" id="login" placeholder="Введите логин">
        </div>
        <div class="form-group">
            <label class="sr-only" for="password">Пароль</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="Введите пароль">
        </div>
        <button type="submit" class="btn btn-default">Начать работу!</button>
    </form>
    <a class="biglink" href="{% url "registration" %}">Регистрация</a>
  </div>
{% endblock %}