{% extends "base.html" %}
{% comment %}
	ФИО
	Л/С (реквизит квартиры)
	Доки (аттач: паспорт и прописка)
	Телефон
{% endcomment %}

{% block scripts %}
	<script type="text/javascript">
		$("form input, form textarea, form select").addClass("form-control");
		$('input[type=file]')
			.addClass("btn-primary")
			.attr('title', "Добавить документ")
			.attr('data-filename-placement', "inside")
			.bootstrapFileInput();
	</script>
{% endblock %}
{% block content %}

	<form method = "post" action="register" action="" class="form-horizontal" role="form">
	{% csrf_token %}
	{% for field in form.visible_fields %}
	<div class="form-group">
		<label for="{{field.name}}" class="col-sm-3 control-label">{{field.label}}:</label>
		<div class="col-sm-4">
			{{field}}
		</div>
	</div>
	{% endfor %}
	 <div class="form-group">
	    <div class="col-sm-offset-3 col-sm-10">
	    	<button type="submit" class="btn btn-success">Регистрация</button>
	    </div>
	 </div>
	</form>


{% endblock %}