{% extends "base.html" %}
{% block menu %}
{% include "org/menu.html" %}
{% endblock %}
{% block content %}
{% include "org/leftmenu.html" %}
<div class="col-md-8">
    <table class="table table-striped">
   
    <thead>
        <tr>
            <th>Дом</th>
            <th>Управление</th>
        </tr>
    </thead>
    <tbody>
     {% for house in houses %}
    <tr>
        <td>{{house}}</td>
        <td>

        <div class="btn-group">
    
        
            <form action="{% url "delete_house" %}" method="POST">{% csrf_token %}<input type="hidden" name="house" value="{{house.id}}">
        <a href="{% url 'houseaccount' house.id %}">
        <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-euro"></span></button></a>
            <button type="submit" class="btn btn-danger">Удалить</button>
            </form>

        
        </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>

    </table>
    Пока нет ни одного дома. Вы можете добавить управляемые дома ниже

<form class="form-inline" action="{% url "add_houses" %}" method="POST" role="form">{% csrf_token %}
    <div class="form-group">
        <label class="sr-only" for="street">Дом</label>
        {{form.street}}
    </div>
    <div class="form-group">
        <label class="sr-only" for="house">Номер</label>
        {{form.number}}
    </div>
    <button type="submit" class="btn btn-default">Добавить дом</button>
</form>

</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $("#id_street").autocomplete()
</script>
{% endblock %}