
<div class="col-md-2">
<ul class="nav nav-pills nav-stacked">
    <li {% if current_url == "list_houses" %}class="active"{% endif %}><a href="{% url "list_houses" %}">Список домов</a></li>
    <li {% if current_url == "list_residents" %}class="active"{% endif %}><a href="{% url "list_residents" %}">Список жильцов</a></li>
    <li {% if current_url == "add_services" %}class="active"{% endif %}><a href="{% url "add_services" %}">Сотрудники и подрячики</a></li>
    <li {% if current_url == "create_notification" %}class="active"{% endif %}><a href="{% url "create_notification" %}">Создать оповещение</a></li>
    <li><a href="{% url 'userapprove' %}"><span class="label label-success pull-right">
    1</span>Запросы на регистрацию </a></li>
    <li><a href="#">Оповещения жильцов </a></li>
    <li><a href="{% url 'meter' %}">Показания счётчиков </a></li>
    <li><a href="#">Вывод по счетам</a></li>
</ul>
</div>