{% extends "base.html" %}

{% block menu %}
{% include "org/menu.html" %}
{% endblock %}

{% block content %}
	
{% include "org/leftmenu.html" %}
<div class="col-md-10">
	<h3>Пользователи на рассмотрении</h3>
	<div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>ФИО</th>
                  <th>Дом</th>
                  <th>Паспорт</th>
                  <th>Прописка</th>
                  <th>Решение</th>
                </tr>
              </thead>
              <tbody>
  				{% for u in users %}
  					<tr>
  						<td>{{ u.last_name }} {{ u.first_name }} {{ u.middle_name }}</td>
  						<td>{{ u.house }}, кв. {{ u.flat }}</td>
  						<td>
	  						<a href="{{ u.passport.url }}" data-lightbox="doc" data-title="Паспорт" >
	  							<img src="{{ u.passport.url }}" style="max-width:100%;max-height:200px;">
	  						</a>
  						</td>
  						<td>
  							<a href="{{ u.registration.url }}"  data-lightbox="doc" data-title="Прописка">
	  							<img src="{{ u.registration.url }}"  style="max-width:100%;max-height:200px;">
	  						</a>
  						</td>
  						<td> 
  						<a href="{% url "sendwelcome" u.id %}">
  							<button type="button" class="btn btn-success">Одобрить</button>
  						</a>
  							
						<a href="{% url "sendreject" u.id %}">
							<button type="button" class="btn btn-danger">Отклонить</button>
						</a>
  							
  						</td>
  					</tr>
				{% endfor%}
              </tbody>
            </table>
          </div>
</div>
{% endblock %}
{% block style %}
<link href="{{STATIC_URL}}css/lightbox.css" rel="stylesheet" />
{% endblock %}
{% block scripts %}
<script src="{{STATIC_URL}}js/jquery-1.11.0.min.js"></script>
<script src="{{STATIC_URL}}js/lightbox.min.js"></script>
{% endblock %}